- provide(:title, 'About')
%h1 About
%p
  The
  %a{href: 'http://www.railstutorial.org/', rel: 'noopener',
     target: '_blank'} *Ruby on Rails Tutorial*
  is a
  %a{href: 'http://www.railstutorial.org/book', rel: 'noopener', target: '_blank'} book
  and
  %a{href: 'http://screencasts.railstutorial.org/', rel: 'noopener',
     target: '_blank'} screencast series to teach web development with
  %a{href: 'http://rubyonrails.org/', rel: 'noopener', target: '_blank'} Ruby on Rails.
  This is the sample application for the tutorial.
