.page-header.col-xs-16.col-sm-8.col-md-8.col-sm-offset-2
  %h1 Robot
.row
  %div.col-md-4
    .robots-log-div
      %textarea.robot-log.form-control{rows: 5, disabled: 'disabled', wrap: 'soft'}
      %button.btn.btn-default.clean-log
        Clean log
    %form-horizontal.init-form
      Please note, if you will try to set X or Y lower or equal to 1, it will be submitted as 6 and 5.
      .form-group
        %label
          Enter x:
          %input{type: 'number', class: 'x-table', min: 2}
        %label
          Enter y:
          %input{type: 'number', class: 'y-table', min: 2}
        %button.init-btn
          Init robot
    %form-horizontal.place-form.disabled.hide
      .form-group
        %label
          Enter robots position x:
          %input{type: 'number', class: 'x-place', min: 1}
        %label
          Enter robots position y:
          %input{type: 'number', class: 'y-place', min: 1}
        %select{name: 'direction', class: 'f-place form-control'}
          %option{value: 'EAST'}
            North
          %option{value: 'NORTH'}
            East
          %option{value: 'WEST'}
            South
          %option{value: 'SOUTH'}
            West
        %button.place-btn
          Place
    %div.movement.disabled.hide.center
      %button.left-btn
        Left
      %button.right-btn
        Right
      %button.move-btn
        Move
  %div.col-md-8
    %table{id: 'myTable', class: 'table-wrapper'}