= form_for(current_user.active_relationships.build, remote: true) do |form|
  %div= hidden_field_tag :followed_id, @user.id
  = form.button '<span class="glyphicon glyphicon-send"> Follow</span>'.html_safe, class: 'btn btn-primary'
