%button.btn.btn-primary.unfollow{data:{followed_id: current_user.active_relationships.find_by(followed_id: @user.id).id}}
  %span.glyphicon.glyphicon-send Unfollow
%button.btn.btn-primary.follow.hide
  %span.glyphicon.glyphicon-send Follow