%div#notification
  .btn.glyphicon.glyphicon-remove.pull-right
  %p
    = message.body
    from
    = message.user.name
  %p
    = link_to 'Take me there now!', conversation_path(message.conversation)