%li
  = gravatar_for user, size: 50
  = link_to user.name, user
  - if current_user.admin? && !current_user?(user)
    .btn-group.pull-right{'aria-label' => 'admin_use', role: 'group'}
      = link_to 'delete', user , method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger'
      = link_to 'edit', edit_user_path(user), class: 'btn btn-warning'
