%li.list-unstyled.user-comment.hidden#empty-comment
  %div.user
    -# Avatar
    Commenter:
    %a.commenter{href: '#'}
    %a.delete_comment.btn.glyphicon.glyphicon-remove.pull-right{href: '#',  data: { toggle: 'tooltip' }, 'title' => 'Delete'}
  %p.content
  %span.timestamp